<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

 
    <title>About Us</title>

</head>
<body  style="background-color:rgba(209, 209, 209, 0.774);">


<!-- Navbar    -->
        <nav class="navbar navbar-inverse" style="padding: 6px;">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" style="font-size: 30px;">EDU-PLANNER</a>
                  </div>
                  <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                      <li><a href="/" style="font-size: 20px; padding-left:40px;">Home</a></li>
                      <li><a href="/colform" style="font-size: 20px; padding-left:40px;">Colleges</a></li>
                      <li><a href="/schform" style="font-size: 20px; padding-left:40px;">Schools</a></li>
                      <li><a href="/register" style="font-size: 20px; padding-left:40px;">Register</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="#" style="font-size: 18px; padding-right:40px;"><span class="glyphicon glyphicon-log-in"></span> About Us</a></li>
                    </ul>
                  </div>
                </div>
              </nav>


<br><br>
              <h1 align="center" style=" font-weight: bold">WELCOME</h1><br><br><br>

              
          
          
          
<div style="margin: 100px; border: 100px;">

              <h4>At Website.com, we believe everyone deserves to have a website or online store. Innovation and simplicity makes us happy: our goal is to remove any technical or financial barriers that can prevent business owners from making their own website. We're excited to help you on your journey!   </h4>

</div>

<div style="margin: 100px; border: 100px;">
              <h5>Your About Us page should be:

    Informative. It doesn’t always have to tell the whole story, but it should at least provide people with an idea of who and what you are.
    Contain social proof, testimonials, and some personal information that viewers can relate to such as education, family, etc.
    Useful and engaging.
    Easy to navigate and accessible on any device.
    That may all sound complicated, but it really isn’t.
    
    The main purpose of your About Us page is to give visitors a glimpse into the identity of either a person or business.
    
    As users discover your brand, they need to distinguish what sets you apart and makes you… you.
    
    This often requires finding the right balance between compelling content and a design carefully planned to look the part.
    
    Conveying your identity in a fun and approachable – but also reliable and informative – way is challenging.
    
    If you know who you are and your goal for your site, the About Us page should come naturally.
    
    However, if you’re looking for some inspiration, you can always check out these 25 examples of creative and engaging About Us pages.
    
    These excellent examples will help you build a personal and engaging website</h5>



</div>



<div style="margin: 100px; border: 100px;">
  <h5>Your About Us page should be:

Informative. It doesn’t always have to tell the whole story, but it should at least provide people with an idea of who and what you are.
Contain social proof, testimonials, and some personal information that viewers can relate to such as education, family, etc.
Useful and engaging.
Easy to navigate and accessible on any device.
That may all sound complicated, but it really isn’t.

The main purpose of your About Us page is to give visitors a glimpse into the identity of either a person or business.

As users discover your brand, they need to distinguish what sets you apart and makes you… you.

This often requires finding the right balance between compelling content and a design carefully planned to look the part.

Conveying your identity in a fun and approachable – but also reliable and informative – way is challenging.

If you know who you are and your goal for your site, the About Us page should come naturally.

However, if you’re looking for some inspiration, you can always check out these 25 examples of creative and engaging About Us pages.

These excellent examples will help you build a personal and engaging website</h5>



</div>

              

     <!-- Footer -->
     <footer class="page-footer font-small "  style="position: float;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: rgb(35, 227, 131);
     color: white;
     text-align: center;
     height:100px;">
     
                                   
                                     <p  style="padding-top:15px;">Find us on social media.</p>
                       <!-- Grid row-->
                       <div class="row justify-content-md-center" style="padding-top:15px;">
                 
                                   
                     
                                            
                                                     
                             <a href="https://www.facebook.com">
                                             <i class="fab fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>         
                             </a>
                             <!-- Twitter -->
                             <a href="https://www.twitter.com">
                               <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                             </a>
                     
                             <!-- Google +-->
                             
                             <a href="https://www.gmail.com">
                               <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                             </a>
                             <!--Linkedin -->
                             <a href="https://www.linkedin.com">
                               <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                             </a>
     
                             <!--Instagram-->
             
                             <a href="https://www.instagram.com">
                               <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                             </a>
                            
                    
                        
                      
                 
                     </div>
                     <!-- Footer Elements -->
                 
                    
                    
                 
                   </footer>
                   <!-- Footer -->


</body>
</html>