<!DOCTYPE html>
<html lang="en">
<head>
  <title>Search_result</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>


<!-- Navbar    -->
<nav class="navbar navbar-inverse" style="padding: 6px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="font-size: 30px;">EDU-PLANNER</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#" style="font-size: 20px; padding-left:40px;">Home</a></li>
        <li><a href="/colform" style="font-size: 20px; padding-left:40px;">Colleges</a></li>
        <li><a href="/schform" style="font-size: 20px; padding-left:40px;">Schools</a></li>
        <li><a href="/register" style="font-size: 20px; padding-left:40px;">Register</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/aboutus" style="font-size: 18px; padding-right:40px;"><span class="glyphicon glyphicon-log-in"></span> About Us</a></li>
      </ul>
    </div>
  </div>
</nav>



<div class="container">
    <h1 align="center">Search Results</h1><br><br>

    <p align="center">List of Colleges with thier rankings and address</p>


<br>
<br>
    
    <table class="table">
    <thead>
      <tr>
        <th>College Name</th>
        <th>Address</th>
        <th>Rankings</th>
        <th>Dept</th>
        <th>Website</th>
        <th>Approved</th>
        
      </tr>
    </thead>
    <tbody>
     

      
    <tr>  
        <td>St Helen School </td>
        <td>21B, Rani Shankari Lane, Kalighat, Kolkata - 700026, Opposite Of 23 Pally Durga Temple </td>
         <td> 1 </td>
          <td> 30,000(annually) </td>
          <td><a href="#"> school1.com</a></td>
          <td>Yes </td>
    </tr>


    <tr>  
            <td>Den John's Public School</td>
            <td> Beliaghata </td>
             <td>2 </td>
              <td> 40,000 </td>
              <td><a href="#"> school2.com</a></td>
              <td>No </td>
        </tr>



        <tr>  
                <td>Bodhisukha School</td>
                <td> Salt Lake </td>
                 <td> 3 </td>
                  <td> 35,000 </td>
                  <td><a href="#"> school3.com</a></td>
                  <td>Yes </td>
            </tr>





            <tr>  
                    <td>DAV public School</td>
                    <td> Salt Lake </td>
                     <td> 4 </td>
                      <td> 45,000 </td>
                      <td><a href="#"> school4.com</a></td>
                      <td>Yes </td>
                </tr>


                <tr>  
                        <td>St karens School</td>
                        <td> Sealdah </td>
                         <td> 5 </td>
                          <td> 25,000 </td>
                          <td><a href="#"> school5.com</a></td>
                          <td>No </td>
                    </tr>


                    <tr>  
                            <td>kolkata Public School</td>
                            <td> CHingri ghata</td>
                             <td> 6 </td>
                              <td> 18,000 </td>
                              <td><a href="#"> school6.com</a></td>
                              <td>Yes </td>
                        </tr>


    </tbody>
  </table>
</div>

</body>
</html>
