<!DOCTYPE html>
<html lang="en">

<head>
  <title>Search School</title>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
     integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
 
</head>

<body style="background-color: rgb(233, 231, 231)">



<!-- Navbar    -->
<nav class="navbar navbar-inverse" style="padding: 6px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="font-size: 30px;">EDU-PLANNER</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#" style="font-size: 20px; padding-left:40px;">Home</a></li>
        <li><a href="/colform" style="font-size: 20px; padding-left:40px;">Colleges</a></li>
        <li><a href="/schform" style="font-size: 20px; padding-left:40px;">Schools</a></li>
        <li><a href="/register" style="font-size: 20px; padding-left:40px;">Register</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/aboutus" style="font-size: 18px; padding-right:40px;"><span class="glyphicon glyphicon-log-in"></span> About Us</a></li>
      </ul>
    </div>
  </div>
</nav>







  <div class="container">
    <h2 align="center">Search  Colleges</h2>
    <hr>
    <br>
    <br>
    <form action="/schres">
       
<div class="row">

    <div class="col-sm-4"><label>Department: </label><select name="type" required style="font-size: 15px; border-radius: 4px; margin-left: 10px;">
        <option value="SR">CSE</option>
        <option value="KR">Physic</option>
        <option value="KR">Chemistry</option>
        <option value="KR">Zoology</option>
        <option value="KR">English</option>
        <option value="KR">Bangla</option>
      </select></div>

    <div class="col-sm-4"><label>Courses: </label> <select name="type" required style="font-size: 15px; border-radius: 4px; margin-left: 10px;">
        <option value="SR">UG</option>
        <option value="KR">PG</option>
        <option value="KR">PHD</option>
      </select></div>


        <div class="col-sm-4"><label>Pin-Code: </label> <input type="text"   placeholder="Pin Code" name="email"></div>



        <div class="col-sm-4"><label>Max-Fee: </label> <input type="text"   placeholder="Max-Fee" name="email"></div>

        
        <div class="col-sm-4"><label>Ranking: </label>
             <select name="type" required style="font-size: 15px; border-radius: 4px; margin-left: 10px;">
            <option value="SR">1-10</option>
            <option value="KR">1-20</option>
          </select></div>
        

    </div>
    <br><br>


    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</body>

</html>